$carousel-control-color: black;
$carousel-control-width: 10%;
$carousel-control-icon-width:        5rem;

@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;800&family=Pacifico&display=swap');

.contenedor1{
    // background-color: antiquewhite;
    width: 90%;
    height: 80%;
    margin: auto;
    padding: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#pagina2 .contenedor2{
    width: 90%;
    height: 80%;
    border: 2px solid black;
    margin: auto;
    background-color: cadetblue;
}

 .logo{
    background-color: white;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo img{
    border: 5px outset gray;
    width: 25%;
    height: 25%;
}

#pagina1 .contenedor1  .carousel-inner{
    width: 100%;
    height: 60%;
    margin: auto;
    text-align: center;
}

#pagina1 .contenedor1  .carousel-item{
    justify-content: center;
    align-items: center;
    text-align: center;

}
.carrusel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.carrusel .carrusel__img{
    width: 100%;
    height: 100%;
    object-fit:fill;
}

#pagina1 .contenedor1  .carousel-item .carrusel .carrusel__texto{
    width: 100%;
    color:orangered;
    text-align: center;
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translateX(-50%) translateY(-50%);
    // font-size: 1.5em;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    letter-spacing: 1px;
}


#pagina2 .contenedor2 .anteriores{
    width: 100%;
    height: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#pagina2 .contenedor2 .anteriores a{
    text-decoration: none;
    color: blue;
}

.pie{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    background-color: black;
    color: white;
    padding-top: 5px;
    letter-spacing: inherit;
}

@media only screen and (max-width: 750px) {

    #pagina1 .contenedor1  .carousel-item .titulo{
        font-size: 1em;
    }
}

@media only screen and (max-width: 900px) {

    #pagina1 .contenedor1  .carousel-item .titulo{
        font-size: 1.5em;
    }
}